.textcontents{
    background-color: grey;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
}


#maincontent{
    height: 450px;
    background-color: lightblue;
    width: 100%;
    display: flex;

}
#navigation{
    background-color: lightcoral;
    height: 430px;
    width: 25%;
    padding: 10px;
}
.navitem{
    background-color: lightgoldenrodyellow;
    height: 80px;
    margin: 5px;
    padding: 20px 0px 0px 20px;
}
#content{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
}













